/* Home.module.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.notSignedIn {
  font-size: 24px;
  color: #000000; /* Or any other color */
}

.main {
  text-align: center;
}

.header {
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.h4 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #27ae60; /* Or any other color */
}
